@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    color: var(--color1);
    font-family:'Radio Canada', sans-serif;
    font-size: 1.2em;
}
a {
    text-decoration: none;
}
:root {
    --color3 : #fff;
    --color2 : #EEEEEE;
    --color1 : #4B4B4B;
}
/*                     CORPO*/
#corpo {
    width: 98%;
    height: auto;
    background-color: var(--color2);
    margin: 25px auto;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
/*                     CABEÇALHO*/
#cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
}
#cabecalho h1 {
    margin-top: 50px;
    font-size: 2.5em;
}
#cabecalho p {
    margin: 30px 20px;
}
.img-header {
    background-color: var(--color3);
    padding: 0 10px;
}
.img-header img {
    width: 100%;
    height: auto;
}

/*                HISTÓRIA*/
#historia {
    max-width: 800px;
    min-width: 300px;
    height: auto;
    text-align: center;
    margin: auto;

    display : flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
#historia li {
    text-align: left;
    padding: 15px 0;
    list-style: inside;
}
#historia p {
    align-self: start;
    text-align: left;
}
@media {max-width: 500px;}
    body {

    }
    #historia li{
        text-align: justify;
        padding: 15px 20px;
    }